html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

/*--------------------------------------------------------------*/
.main-btn {
  background: linear-gradient(to bottom, #A58F84, #846E63 50%);
  color: #FFFFFF;
  font-weight: 700;
  padding: 8px 20px;
  border-radius: 7px;
}
.main-btn:hover {
  color: #FFFFFF;
}
.main-tag {
  color: #FFFFFF;
  background: linear-gradient(to right, #DCC9A7, #CEB27F 50%);
  padding: 4px 10px;
  font-size: 10px;
  border-radius: 3px;
}
.main-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
}
.main-list::before {
  content: url(../img/main-check-btn.svg);
  width: 24px;
  height: 24px;
  background-size: 100%;
}
.main-link-btn {
  font-size: 12px;
  color: #707070;
  font-weight: 700;
  border: 1.4px solid #707070;
  padding: 10px 26px 10px 12px;
  display: inline-block;
  position: relative;
  border-radius: 5px;
}
.main-link-btn:hover {
  color: #707070;
}
.main-link-btn::after {
  content: url("../img/arrow-right.svg");
  position: absolute;
  top: 0;
  bottom: 3.6px;
  right: 12px;
  height: fit-content;
  margin: auto;
}

.font-main-color {
  color: #846E63;
}

.owl-theme .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -3rem;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #846E63 !important;
  width: 30px !important;
  height: 6px !important;
}
.owl-theme .owl-dots .owl-dot span {
  background: #F2EEED !important;
  width: 18px !important;
  height: 6px !important;
  margin: 5px 4px !important;
}
.owl-theme .owl-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5px !important;
  z-index: -1;
}
.owl-theme .owl-nav .owl-prev {
  height: fit-content;
  position: absolute;
  left: 0rem;
  top: 0;
  bottom: 0;
  margin: auto !important;
}
.owl-theme .owl-nav .owl-prev:hover {
  background: transparent !important;
}
.owl-theme .owl-nav .owl-next {
  height: fit-content;
  position: absolute;
  right: 0rem;
  top: 0;
  bottom: 0;
  margin: auto !important;
}
.owl-theme .owl-nav .owl-next:hover {
  background: transparent !important;
}

.filter-main {
  max-width: 746px;
  margin: auto;
}
.filter-main-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2px !important;
  cursor: pointer;
}
.filter-main-item-p {
  text-align: center;
  background-color: #FAF9F7;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  user-select: none;
}
.filter-main-item.active .filter-main-item-p {
  background-image: linear-gradient(to bottom, #DCC9A7, #CEB27F);
  color: #FFFFFF;
}

@media (min-width: 1200px) {
  .main-link-btn {
    padding: 14px 31px 14px 17px;
    font-size: 16px;
  }
  .main-btn {
    padding: 18.5px 28px;
    font-size: 16px !important;
  }
}
@media (max-width: 768px) {
  .owl-theme .owl-nav {
    display: none;
  }
}
.header {
  width: 100%;
  padding: 2rem 0;
}
.header-btn-open {
  display: none;
  position: relative;
  z-index: 5;
}
.header-btn-close {
  display: none;
  position: relative;
}
.header-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.header-container-left {
  display: flex;
}
.header-container-left .header-a {
  margin: 0 1rem;
}
.header-container-left .header-a:nth-child(1), .header-container-left .header-a:nth-child(2) {
  margin: 0 2.5rem;
}
.header-container-right .main-btn {
  font-size: 12px;
}
.header-mobile {
  display: none;
}

@media (min-width: 769px) {
  body.scrolled {
    padding-top: 82px;
  }
  body.scrolled .header {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
    background-color: #FFFFFF;
    z-index: 10;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .header-container-left .header-a:nth-child(2) {
    margin: 0 1rem;
  }
  .header-container-right {
    padding-right: 2.2rem;
  }
}
@media (max-width: 768px) {
  .header {
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
    padding: 1rem 0;
    height: 82px;
  }
  .header-container {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .header-mobile-list {
    display: flex;
    justify-content: space-around;
  }
  .header-mobile-list-a {
    color: #707070;
    font-size: 12px;
  }
  .header-mobile-list-a:nth-child(2) {
    position: relative;
  }
  .header-mobile-list-a:nth-child(2)::after {
    content: "";
    width: 1.4px;
    height: 90%;
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #707070;
  }
  .header-mobile-list-a:hover {
    color: #707070;
  }
  .header-mobile-content {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding-top: 0.8rem;
    padding-right: 0.6rem;
  }
  .header-mobile-content-a {
    font-size: 16px;
    color: #707070;
    font-weight: 700;
  }
  .header-mobile-content-a-img {
    width: 48px;
    height: 48px;
  }
  .header-mobile-content-a:hover {
    color: #707070;
  }
}
.footer {
  background-image: url(../img/footer-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}
.footer-main {
  padding-top: 7rem;
  padding-bottom: 5.8rem;
  width: 100%;
  position: relative;
}
.footer-main-content {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.footer-main-content-left-icons {
  margin-top: 1.8rem;
}
.footer-main-content-left-icons-item {
  display: inline-block;
  margin-right: 12px;
  width: 36px;
}
.footer-main-content-left-icons-item-img {
  width: 100%;
}
.footer-main-content-left-icons-item:first-child {
  width: 84px;
}
.footer-main-content-left-h4 {
  display: flex;
  margin: 10px 0;
  gap: 7px;
}
.footer-main-content-left-p {
  margin-bottom: 18px;
  margin-left: 30px;
  margin-top: -2px;
}
.footer-main-content-left-p .main-tag {
  margin-left: 9px;
}
.footer-main-content-right-h3 {
  margin-bottom: 20px;
  font-weight: 700;
}
.footer-main-content-right-a {
  color: #FFFFFF;
  display: block;
  margin: 18px 0;
}
.footer-main-content-right-a-p {
  font-weight: 700;
}
.footer-main-content-right-a:hover {
  color: #FFFFFF;
}
.footer-main-content-profile {
  width: 43%;
  margin-top: -3rem;
}
.footer-main-content-profile-pic {
  width: 100%;
  max-width: 360px;
  position: relative;
}
.footer-main-content-profile-pic-img {
  width: 100%;
}
.footer-main-content-profile-pic-tag {
  position: absolute;
  top: 36%;
  right: 2%;
  width: 15%;
}
.footer-main-bottom {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
}
.footer-main-bottom-p {
  color: #FFFFFF;
  opacity: 0.7;
}
.footer-main p, .footer-main h3, .footer-main h4 {
  color: #FFFFFF;
}
.footer-btn-to-top {
  width: 60px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  cursor: pointer;
}
.footer-btn-to-top-img {
  width: 100%;
}

@media (max-width: 992px) {
  .footer-main {
    padding-top: 3rem;
  }
  .footer-main-content {
    flex-direction: column;
  }
  .footer-main-content-left {
    width: 55%;
    margin-bottom: 1.8rem;
  }
  .footer-main-content-left-icons-item {
    margin-bottom: 12px;
  }
  .footer-main-content-right {
    width: 55%;
  }
  .footer-main-content-profile {
    width: 45%;
    position: absolute;
    top: 6rem;
    right: 0;
  }
  .footer-btn-to-top {
    bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .footer-main {
    padding-bottom: 1rem;
  }
  .footer-main-content {
    position: relative;
    flex-direction: column;
  }
  .footer-main-content-left {
    width: 100%;
  }
  .footer-main-content-left-icons {
    position: absolute;
    top: calc(100% - 130px);
    left: 0;
  }
  .footer-main-content-left-icons-item {
    margin-right: 5px;
  }
  .footer-main-content-left-p {
    font-size: 12px;
  }
  .footer-main-content-left-p .main-tag {
    margin-left: 1px;
  }
  .footer-main-content-right {
    width: 100%;
  }
  .footer-main-content-profile {
    width: 100%;
    position: unset;
    margin-top: 10rem;
  }
  .footer-main-content-profile-pic {
    position: absolute;
    bottom: 52px;
    left: 59px;
    max-width: 310px;
    width: 80%;
  }
  .footer-main-bottom {
    bottom: unset;
    position: relative;
  }
  .footer-main-bottom-p {
    font-size: 12px;
    letter-spacing: 0;
  }
  .footer-btn-to-top {
    display: none;
  }
}
.homepage .section-1-2-bg {
  background: radial-gradient(circle at 50% 6%, #FFFFFF, #EFE9E7 70%);
  position: relative;
}
.homepage .section-1-2-bg .section-2-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  max-width: 300px;
}
.homepage .section-1-2-bg .section-2-bg-img {
  width: 100%;
  transform: translateY(30%);
}
.homepage-header {
  margin-bottom: -88px;
  position: relative;
  z-index: 10;
}
.homepage .section-1 {
  padding-top: calc(2rem + 82px);
  display: flex;
}
.homepage .section-1-left {
  padding-top: 3.6rem;
  width: 43%;
}
.homepage .section-1-left-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.homepage .section-1-left-p {
  margin-bottom: 2.4rem;
  line-height: 18px;
}
.homepage .section-1-right {
  width: 57%;
  position: relative;
}
.homepage .section-1-right-pic {
  width: 100%;
}
.homepage .section-1-right-pic-img {
  width: 100%;
}
.homepage .section-1-right-txt {
  position: absolute;
  display: flex;
  align-items: end;
  gap: 9px;
  top: 5%;
  right: 10%;
}
.homepage .section-1-right-txt-h1 {
  font-weight: 400;
  font-family: "ChenYuluoyan-Thin", sans-serif;
}
.homepage .section-1-right-txt-p {
  padding-bottom: 1.3rem;
}
.homepage .section-2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.homepage .section-2-left {
  width: 43%;
  margin-top: -1rem;
  padding-right: 2rem;
  max-width: 390px;
}
.homepage .section-2-left .podcast-pic {
  width: 100%;
  margin-bottom: 1.6rem;
}
.homepage .section-2-left .podcast-pic-img {
  width: 100%;
}
.homepage .section-2-left .podcast-title {
  width: calc(100% - 2.5rem);
  margin-bottom: 1.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}
.homepage .section-2-left .podcast-title-container {
  position: relative;
}
.homepage .section-2-left .podcast-title-container::after {
  content: "...";
  position: absolute;
  color: #707070;
  right: 16.5px;
  top: -3px;
  bottom: 0;
  margin: auto;
}
.homepage .section-2-left .podcast-title-h4 {
  font-weight: 700;
  animation: marquee 20s linear infinite;
  padding-right: 1.4rem;
}
.homepage .section-2-left .podcast-title-h4-2 {
  font-weight: 700;
  animation: marquee2 20s linear infinite;
  padding-right: 1.4rem;
}
.homepage .section-2-left .podcast-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 0.9rem;
}
.homepage .section-2-left .podcast-progress-bar {
  display: flex;
  align-items: center;
}
.homepage .section-2-left .podcast-progress-bar-line {
  position: relative;
  width: 100%;
  height: 3.35px;
  background-color: #F2EEED;
  border-radius: 4px;
}
.homepage .section-2-left .podcast-progress-bar-line::before {
  border-radius: 4px;
  position: absolute;
  content: "";
  width: 30%;
  height: 100%;
  background: linear-gradient(to bottom, #A58F84, #846E63);
}
.homepage .section-2-left .podcast-progress-bar-line::after {
  border-radius: 50%;
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: linear-gradient(to bottom, #A58F84, #846E63);
  top: 0;
  bottom: 0;
  left: calc(30% - 7px);
  margin: auto;
}
.homepage .section-2-left .podcast-progress-bar-p {
  padding-left: 8px;
  position: relative;
  top: -1.6px;
  opacity: 0.7;
}
.homepage .section-2-left .podcast-subtitle {
  margin-top: 1.8rem;
}
.homepage .section-2-left .podcast-subtitle-p {
  opacity: 0.6;
}
.homepage .section-2-right {
  padding-top: 2rem;
  width: 57%;
}
.homepage .section-2-right-h3 {
  font-weight: 700;
  margin-bottom: 2rem;
}
.homepage .section-2-right-main {
  margin-bottom: 0.6rem;
}
.homepage .section-2-right-main-item {
  display: flex;
  border-bottom: 1px dotted #846E63;
  padding: 15px 0;
  max-width: 550px;
}
.homepage .section-2-right-main-item-pic {
  width: 8.8px;
}
.homepage .section-2-right-main-item-pic-img {
  width: 100%;
}
.homepage .section-2-right-main-item-h5 {
  width: calc(100% - 8.8px);
  padding-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #707070;
}
.homepage .section-2-right-main-item:last-child {
  border-bottom: none;
}
.homepage .section-2-right-link {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.homepage .section-2-right-link-a.main-link-btn::after {
  content: url("../img/share-icon.svg");
  bottom: 0px;
  right: 10px;
}
.homepage .section-2-right-link-a.main-btn {
  font-size: 12px;
  padding: 11.5px 20px;
}
.homepage .section-3 {
  position: relative;
  width: 100%;
  padding-bottom: 6rem;
}
.homepage .section-3-title {
  padding-top: 3rem;
  margin-bottom: 6rem;
  font-weight: 700;
}
.homepage .section-3::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #846E63, #B1A49E);
  opacity: 0.06;
}
.homepage .section-3-content {
  max-width: 900px;
  margin: auto;
}
.homepage .section-3-content-item {
  margin-bottom: 2.8rem;
}
.homepage .section-3-content-item .item {
  border: 1px solid #846E63;
  outline: 1px solid #846E63;
  border-radius: 2px;
  position: relative;
  padding-top: 100%;
}
.homepage .section-3-content-item .item-content-p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 10px;
  line-height: 18px;
  opacity: 0;
  transition: all 0.05s;
  text-align: center;
  color: #846E63;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
  font-family: "Noto Sans TC", sans-serif;
}
.homepage .section-3-content-item .item-content-pic {
  position: absolute;
  width: 50%;
  height: fit-content;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  transition: all 0.05s;
}
.homepage .section-3-content-item .item-content-pic-small {
  width: 34%;
}
.homepage .section-3-content-item .item-content-pic-img {
  width: 100%;
}
.homepage .section-3-content-item .item-title {
  position: absolute;
  border-radius: 2px;
  width: 87%;
  padding: 8px 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -1.2rem;
}
.homepage .section-3-content-item .item-title-h4 {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
}
.homepage .section-3-content-item .item-title-h4-small {
  font-size: 12px;
  padding: 3px 0;
}
.homepage .section-3-content-item .item:hover .item-content-p {
  opacity: 1;
  transition: all 0.05s;
}
.homepage .section-3-content-item .item:hover .item-content-pic {
  opacity: 0;
  transition: all 0.05s;
}
.homepage .section-4-title {
  padding-top: 6rem;
  margin-bottom: 3.8rem;
  font-weight: 700;
}
.homepage .section-4-content {
  max-width: 1000px;
}
.homepage .section-4-content-item {
  margin: 3.6rem 0;
}
.homepage .section-4-content-item .item {
  display: flex;
  align-items: center;
}
.homepage .section-4-content-item .item-left {
  width: 40%;
  padding-right: 3rem;
}
.homepage .section-4-content-item .item-left .video {
  width: 100%;
  padding-top: 56%;
  background-color: #F2EEED;
}
.homepage .section-4-content-item .item-right {
  margin-top: -1rem;
  width: 60%;
}
.homepage .section-4-content-item .item-right-title {
  display: flex;
  align-items: end;
  font-weight: 700;
}
.homepage .section-4-content-item .item-right-title-num {
  color: #707070;
  font-family: "Impact", sans-serif;
  margin-right: 6px;
}
.homepage .section-4-content-item .item-right-title-num-brown {
  color: #DCC9A7;
}
.homepage .section-4-content-item .item-right-title-subtitle {
  margin-right: 15px;
  margin-bottom: 10px;
}
.homepage .section-4-content-item .item-right-title-time {
  opacity: 0.6;
  margin-bottom: 10px;
}
.homepage .section-4-content-item .item-right-h3 {
  margin: 6px 0 10px;
}
.homepage .section-4-content-item .item-right-p {
  line-height: 18px;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.homepage .section-4-content-item .item-right-a {
  font-size: 12px;
  color: #67554D;
}
.homepage .section-5 {
  padding-bottom: 3rem;
  position: relative;
}
.homepage .section-5::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to bottom, #846E63, #B1A49E);
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}
.homepage .section-5-title {
  color: #FFFFFF;
  font-weight: 700;
  padding: 1.4rem 0 3.4rem;
}
.homepage .section-5-owl-carousel {
  padding-bottom: 3rem;
}
.homepage .section-5-owl-carousel .homepage-owl-carousel {
  width: 100%;
  padding: 0 3rem;
  max-width: 1120px;
  margin: auto;
}
.homepage .section-5-owl-carousel .homepage-owl-carousel .item {
  padding: 0.5rem;
}
.homepage .section-5-owl-carousel .homepage-owl-carousel-item {
  border-radius: 12px;
  padding: 0.8em 1.7rem;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
}
.homepage .section-5-owl-carousel .homepage-owl-carousel-item-head {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 0.8rem;
}
.homepage .section-5-owl-carousel .homepage-owl-carousel-item-head-pic {
  width: 100%;
  max-width: 48px;
}
.homepage .section-5-owl-carousel .homepage-owl-carousel-item-head-pic-img {
  width: 100%;
}
.homepage .section-5-owl-carousel .homepage-owl-carousel-item-head-txt-h4 {
  color: #201512;
  margin-bottom: 2px;
}
.homepage .section-5-owl-carousel .homepage-owl-carousel-item-p {
  line-height: 18px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 1200px) {
  .homepage .section-2 .main-btn {
    padding: 18.5px 28px;
  }
  .homepage .section-3-content {
    max-width: 1000px;
  }
  .homepage .section-4-content {
    max-width: 1200px;
  }
  .homepage .section-5-owl-carousel .homepage-owl-carousel {
    max-width: 1300px;
  }
}
@media (max-width: 1200px) {
  .homepage .section-1-left {
    padding-top: 2.4rem;
    margin-bottom: 5rem;
  }
  .homepage .section-2-bg {
    max-width: 260px !important;
  }
  .homepage .owl-theme .owl-nav .owl-prev {
    left: 0.4rem;
  }
  .homepage .owl-theme .owl-nav .owl-next {
    right: 0.4rem;
  }
}
@media (max-width: 992px) {
  .homepage .section-1-2-bg {
    overflow: hidden;
  }
  .homepage .section-1 {
    margin-bottom: 0.6rem;
  }
  .homepage .section-1-left {
    width: 60%;
  }
  .homepage .section-1-left-h1 {
    font-size: 36px;
  }
  .homepage .section-1-left-p {
    display: none;
  }
  .homepage .section-1-left-list {
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }
  .homepage .section-1-left-list-p {
    display: none;
  }
  .homepage .section-1-left-list .main-list {
    display: flex;
  }
  .homepage .section-1-right {
    width: 90%;
    position: absolute;
    left: 42%;
    top: 152px;
    max-width: 400px;
  }
  .homepage .section-1-right-txt {
    left: 37%;
    right: unset;
    gap: 2px;
  }
  .homepage .section-1-right-txt-h1 {
    font-size: 24px;
    margin-left: -4px;
  }
  .homepage .section-1-right-txt-p {
    padding-bottom: 7px;
    font-size: 10px;
  }
  .homepage .section-2-bg {
    display: none;
  }
  .homepage .section-4-content-item .item {
    gap: 1.2rem;
  }
  .homepage .section-4-content-item .item-left {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .homepage .section-2 {
    flex-direction: column;
    padding-bottom: 12rem;
  }
  .homepage .section-2-left {
    padding-right: 0;
    width: 100%;
    margin: auto;
  }
  .homepage .section-2-left .podcast-pic {
    width: 60%;
    margin: auto;
  }
  .homepage .section-2-right {
    width: 100%;
  }
  .homepage .section-2-right-link {
    gap: 0.8rem;
  }
  .homepage .section-2-right-link .main-link-btn {
    padding: 5px 26px 5px 6px;
  }
  .homepage .section-2-right-link .main-btn {
    padding: 11.5px 18px;
  }
  .homepage .section-4-content-item .item {
    flex-direction: column;
  }
  .homepage .section-4-content-item .item-left {
    width: 100%;
  }
  .homepage .section-4-content-item .item-right {
    width: 100%;
  }
}
.knowledge-article-main {
  padding-bottom: 4rem;
}
.knowledge-article-main-title {
  padding-top: 6rem;
  margin-bottom: 2.6rem;
  font-weight: 700;
}
.knowledge-article-main-filter {
  width: 98%;
  margin: auto;
  margin-bottom: 6.6rem;
}
.knowledge-article-main-content {
  max-width: 1000px;
}
.knowledge-article-main-content-item {
  margin: 3.6rem 0;
}
.knowledge-article-main-content-item .item {
  display: flex;
  align-items: center;
}
.knowledge-article-main-content-item .item-left {
  width: 40%;
  padding-right: 3rem;
}
.knowledge-article-main-content-item .item-left .video {
  width: 100%;
  padding-top: 56%;
  background-color: #F2EEED;
}
.knowledge-article-main-content-item .item-right {
  margin-top: -1rem;
  width: 60%;
}
.knowledge-article-main-content-item .item-right-title {
  display: flex;
  align-items: end;
  font-weight: 700;
}
.knowledge-article-main-content-item .item-right-title-num {
  color: #707070;
  font-family: "Impact", sans-serif;
  margin-right: 6px;
}
.knowledge-article-main-content-item .item-right-title-num-brown {
  color: #DCC9A7;
}
.knowledge-article-main-content-item .item-right-title-subtitle {
  margin-right: 15px;
  margin-bottom: 10px;
}
.knowledge-article-main-content-item .item-right-title-time {
  opacity: 0.6;
  margin-bottom: 10px;
}
.knowledge-article-main-content-item .item-right-h3 {
  margin: 6px 0 10px;
}
.knowledge-article-main-content-item .item-right-p {
  line-height: 18px;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.knowledge-article-main-content-item .item-right-a {
  font-size: 12px;
  color: #67554D;
}
.knowledge-article-main-more {
  margin: auto;
  width: fit-content;
}
.knowledge-article-main-more-a {
  font-size: 12px;
  text-align: center;
}
.knowledge-article-main-more .main-link-btn {
  padding: 10px 30px 10px 22px;
}
.knowledge-article-main-more .main-link-btn::after {
  content: url("../img/arrow-down.svg");
  top: 5px;
  right: 19px;
}

@media (max-width: 768px) {
  .knowledge-article {
    padding-top: 82px;
  }
  .knowledge-article-main-content-item .item {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  .knowledge-article-main-content-item .item-left {
    padding-right: 0;
    width: 100%;
  }
  .knowledge-article-main-content-item .item-right {
    width: 100%;
  }
}
.success-case-main {
  padding-bottom: 4rem;
}
.success-case-main-title {
  padding-top: 6rem;
  margin-bottom: 2.6rem;
  font-weight: 700;
}
.success-case-main-filter {
  width: 98%;
  margin: auto;
  margin-bottom: 6.6rem;
}
.success-case-main-content {
  max-width: 1000px;
}
.success-case-main-content-item {
  margin: 3.6rem 0;
}
.success-case-main-content-item .item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.success-case-main-content-item .item-left {
  width: calc(50% - 1rem);
}
.success-case-main-content-item .item-left-carousel .owl-dots {
  bottom: -1.2rem;
}
.success-case-main-content-item .item-left .video {
  width: 100%;
  padding-top: 56%;
  background-color: #F2EEED;
}
.success-case-main-content-item .item-right {
  margin-top: -1rem;
  width: 50%;
}
.success-case-main-content-item .item-right-title {
  display: flex;
  align-items: end;
  font-weight: 700;
}
.success-case-main-content-item .item-right-title-num {
  color: #707070;
  font-family: "Impact", sans-serif;
  margin-right: 6px;
}
.success-case-main-content-item .item-right-title-num-brown {
  color: #DCC9A7;
}
.success-case-main-content-item .item-right-title-subtitle {
  margin-right: 15px;
  margin-bottom: 10px;
}
.success-case-main-content-item .item-right-h3 {
  margin: 2.6px 0 12px;
  font-size: 18px;
  font-weight: 700;
}
.success-case-main-content-item .item-right-p {
  line-height: 18px;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  width: 88.5%;
}
.success-case-main-content-item .item-right-a {
  font-size: 12px;
  color: #67554D;
  display: block;
  margin: 7px 0;
  font-weight: 700;
}
.success-case-main-content-item:nth-child(even) .item {
  flex-direction: row-reverse;
}
.success-case-main-more {
  margin: auto;
  width: fit-content;
}
.success-case-main-more-a {
  font-size: 12px;
  text-align: center;
}
.success-case-main-more .main-link-btn {
  padding: 10px 30px 10px 22px;
}
.success-case-main-more .main-link-btn::after {
  content: url("../img/arrow-down.svg");
  top: 5px;
  right: 19px;
}

@media (max-width: 768px) {
  .success-case {
    padding-top: 82px;
  }
  .success-case-main-content-item .item {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  .success-case-main-content-item .item-left {
    padding-right: 0;
    width: 100%;
  }
  .success-case-main-content-item .item-right {
    width: 100%;
  }
  .success-case-main-content-item:nth-child(even) .item {
    flex-direction: column;
  }
}
.service-process-header {
  position: relative;
}
.service-process-header::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #846E63;
  opacity: 0.06;
  z-index: -1;
}
.service-process .section-1 {
  position: relative;
  width: 100%;
  padding-bottom: 6rem;
}
.service-process .section-1-title {
  padding-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 700;
}
.service-process .section-1::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #846E63, #B1A49E);
  opacity: 0.06;
}
.service-process .section-1-content {
  max-width: 700px;
  margin: auto;
}
.service-process .section-1-content-item {
  margin-bottom: 2.8rem;
}
.service-process .section-1-content-item .item {
  border: 1px solid #846E63;
  outline: 1px solid #846E63;
  border-radius: 2px;
  position: relative;
  padding-top: 100%;
}
.service-process .section-1-content-item .item-content-p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 10px;
  line-height: 18px;
  opacity: 0;
  transition: all 0.05s;
  text-align: center;
  color: #846E63;
  font-weight: 400;
}
.service-process .section-1-content-item .item-content-pic {
  position: absolute;
  width: 50%;
  height: fit-content;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  transition: all 0.05s;
}
.service-process .section-1-content-item .item-content-pic-small {
  width: 34%;
}
.service-process .section-1-content-item .item-content-pic-img {
  width: 100%;
}
.service-process .section-1-content-item .item-title {
  position: absolute;
  border-radius: 2px;
  width: 87%;
  padding: 8px 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -1.2rem;
}
.service-process .section-1-content-item .item-title-h4 {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
}
.service-process .section-1-content-item .item-title-h4-small {
  font-size: 14px;
}
.service-process .section-1-content-item .item:hover .item-content-p {
  opacity: 1;
  transition: all 0.05s;
}
.service-process .section-1-content-item .item:hover .item-content-pic {
  opacity: 0;
  transition: all 0.05s;
}
.service-process .section-2 {
  padding-top: 5.6rem;
  padding-bottom: 18rem;
  display: flex;
  gap: 5rem;
  max-width: 1030px;
}
.service-process .section-2-left {
  width: calc(50% - 3rem);
}
.service-process .section-2-left-h3 {
  margin-bottom: 3rem;
  font-weight: 700;
}
.service-process .section-2-left-main {
  font-family: "Noto Sans TC", sans-serif;
}
.service-process .section-2-left-main-title {
  margin-bottom: 3rem;
}
.service-process .section-2-left-main-title-h3 {
  margin-bottom: 1.3rem;
  color: #846E63;
  font-weight: 700;
}
.service-process .section-2-left-main-title-h5 {
  color: #846E63;
  font-weight: 500;
}
.service-process .section-2-left-main-list-item {
  cursor: pointer;
  padding: 1.7rem 0.9rem;
  border-top: 1px solid #707070;
}
.service-process .section-2-left-main-list-item-title {
  padding: 0 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-process .section-2-left-main-list-item-title-h4 {
  color: #846E63;
  user-select: none;
  font-weight: 500;
}
.service-process .section-2-left-main-list-item-title-btn {
  width: 15px;
}
.service-process .section-2-left-main-list-item-title-btn-img {
  user-select: none;
  width: 100%;
  transform: rotate(0);
  transition: 0.1s all;
}
.service-process .section-2-left-main-list-item-content {
  overflow: hidden;
  height: 0;
}
.service-process .section-2-left-main-list-item-content-p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 2rem;
  padding-bottom: 2.6rem;
}
.service-process .section-2-left-main-list-item:last-child {
  border-bottom: 1px solid #707070;
}
.service-process .section-2-left-main-list-item.active .section-2-left-main-list-item-title-btn-img {
  transform: rotate(180deg);
  transition: 0.1s all;
}
.service-process .section-2-right {
  width: calc(50% - 2rem);
}
.service-process .section-2-right-h3 {
  margin-bottom: 3rem;
  font-weight: 700;
}
.service-process .section-2-right-main {
  font-family: "Noto Sans TC", sans-serif;
}
.service-process .section-2-right-main-step {
  position: relative;
  padding-left: 1.55rem;
  border-left: 2px solid #DCC9A7;
}
.service-process .section-2-right-main-step-title {
  color: #846E63;
  font-weight: 700;
}
.service-process .section-2-right-main-step-h3 {
  color: #846E63;
  margin: 0.7rem 0 1.8rem;
}
.service-process .section-2-right-main-step-p {
  color: #846E63;
  font-weight: 500;
  font-size: 16px;
  min-height: 83px;
  line-height: 22px;
}
.service-process .section-2-right-main-step::after {
  content: url("../img/dot-second.svg");
  position: absolute;
  left: -1.3px;
  bottom: -24px;
  width: 24px;
  height: 24px;
  transform: translateX(-50%);
  z-index: 5;
}
.service-process .section-2-right-main-step.active {
  border-left: 2px solid #846E63;
}
.service-process .section-2-right-main-step.active::after {
  content: url("../img/dot-main.svg");
}
.service-process .section-2-right-main-step:last-child {
  border: none;
}
.service-process .section-2-right-main-step:last-child .section-2-right-main-step-p {
  min-height: unset;
}
.service-process .section-2-right-main-step:last-child::after {
  display: none;
}
.service-process .section-2-right-btns {
  margin-top: 1.7rem;
}
.service-process .section-2-right-btns-btn {
  font-size: 12px;
}
.service-process .section-2-right-btns-btn.main-btn {
  padding-top: 9px;
  padding-bottom: 9px;
  margin-right: 1.6rem;
}

@media (max-width: 768px) {
  .service-process .section-2 {
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
  }
  .service-process .section-2-left {
    width: 100%;
  }
  .service-process .section-2-right {
    padding-left: 12px;
    width: 100%;
  }
}
.article-page {
  padding-bottom: 8rem;
}
.article-page-header {
  position: relative;
  z-index: 10;
}
.article-page-top {
  position: relative;
  margin-top: -82px;
  width: 100%;
}
.article-page-top-img {
  width: 100%;
}
.article-page-top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #846E63, #B1A49E);
  opacity: 0.1;
}
.article-page-top-h2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.6rem;
  margin: auto;
  color: #707070;
  width: 100%;
  font-weight: 700;
}
.article-page-main {
  display: flex;
  gap: 1.6rem;
}
.article-page-main-left {
  width: calc(60% - 0.8rem);
}
.article-page-main-left-title {
  margin: 1.8rem 0 2.7rem;
  display: flex;
  align-items: center;
}
.article-page-main-left-title-span {
  padding: 8px 20px;
  border-radius: 5px;
}
.article-page-main-left-title-p {
  margin: 0 1.6rem 0 0.5rem;
}
.article-page-main-left-title-time {
  opacity: 0.6;
}
.article-page-main-left-content {
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 4rem;
}
.article-page-main-left-pic {
  width: 100%;
  background-color: #F2EEED;
  border-radius: 14px;
}
.article-page-main-left-pic-img {
  width: 100%;
}
.article-page-main-right {
  width: calc(40% - 0.8rem);
}
.article-page-main-right-title {
  margin: 1.8rem 0 1.2rem;
  font-weight: 700;
}
.article-page-main-right-top-item {
  display: flex;
  border-bottom: 1px solid #DCC9A7;
  padding-bottom: 12px;
}
.article-page-main-right-top-item-pic {
  width: 52%;
}
.article-page-main-right-top-item-pic-img {
  width: 100%;
}
.article-page-main-right-top-item-txt {
  width: 48%;
  padding-left: 12px;
}
.article-page-main-right-top-item-txt-h3 {
  padding: 12px 0 4px 8px;
  font-weight: 700;
  color: #846E63;
}
.article-page-main-right-top-item-txt-h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 26px;
}
.article-page-main-right-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #DCC9A7;
}
.article-page-main-right-item-pic {
  width: 27%;
}
.article-page-main-right-item-pic-img {
  width: 100%;
}
.article-page-main-right-item-h4 {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 26px;
}
.article-page-main-right-item::after {
  content: url("../img/arrow-right-second.svg");
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  height: fit-content;
}
.article-page-main-right-links {
  display: flex;
  align-items: center;
  margin-top: 2.6rem;
}
.article-page-main-right-links-span {
  color: #707070;
  font-size: 12px;
  font-weight: 700;
  margin-right: 16px;
}
.article-page-main-right-links-a {
  margin: 0 5px;
  width: 36px;
}
.article-page-main-right-links-a-img {
  width: 100%;
}
.article-page-bottom {
  margin-top: 6rem;
}
.article-page-bottom-p {
  color: #846E63;
}
.article-page-bottom-btns {
  margin-top: 0.6rem;
}
.article-page-bottom-btns-a {
  font-size: 12px;
}
.article-page-bottom-btns-a.main-btn {
  padding-top: 9px;
  padding-bottom: 9px;
  margin-right: 1.6rem;
}

@media (max-width: 992px) {
  .article-page-main-left {
    width: calc(55% - 0.8rem);
  }
  .article-page-main-right {
    width: calc(45% - 0.8rem);
  }
  .article-page .container {
    max-width: 830px;
  }
}
@media (max-width: 768px) {
  .article-page-main {
    flex-direction: column;
  }
  .article-page-main-left {
    width: 100%;
  }
  .article-page-main-right {
    width: 100%;
  }
  .article-page-top {
    margin-top: 0;
  }
  .article-page .container {
    max-width: 830px;
  }
}
.about-header {
  position: relative;
  z-index: 10;
}
.about .section-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.6rem;
  margin-top: -82px;
}
.about .section-1-left {
  width: 52%;
  padding-top: 8rem;
}
.about .section-1-left-h4 {
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.about .section-1-left-h2 {
  position: relative;
  width: fit-content;
  color: #707070;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.about .section-1-left-h2-dot-top {
  position: absolute;
  left: -36px;
  width: 37px;
}
.about .section-1-left-h2-dot-top-img {
  width: 100%;
}
.about .section-1-left-h2-dot-bottom {
  position: absolute;
  width: 37px;
  bottom: -33px;
  right: -45px;
}
.about .section-1-left-h2-dot-bottom-img {
  width: 100%;
}
.about .section-1-left-container {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.about .section-1-left-container-btn-a {
  font-size: 12px;
  font-weight: 700;
}
.about .section-1-left-container-phone {
  padding-top: 5.7px;
  display: flex;
  align-items: center;
}
.about .section-1-left-container-phone-icon {
  width: 24px;
  height: 24px;
}
.about .section-1-left-container-phone-icon-img {
  width: 100%;
}
.about .section-1-left-links {
  display: flex;
  align-items: center;
  margin-top: 2.6rem;
}
.about .section-1-left-links-span {
  color: #707070;
  font-size: 12px;
  font-weight: 700;
  margin-right: 16px;
}
.about .section-1-left-links-a {
  margin: 0 5px;
  width: 36px;
}
.about .section-1-left-links-a-img {
  width: 100%;
}
.about .section-1-right {
  width: 42%;
}
.about .section-1-right-bg {
  width: 100%;
}
.about .section-1-right-bg-img {
  width: 100%;
}
.about .section-1-container {
  width: 100%;
  position: relative;
}
.about .section-1-container::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background: linear-gradient(to bottom, rgb(164, 167, 172), rgb(167, 169, 174), rgb(168, 171, 178), rgb(166, 169, 176));
  width: 30%;
  height: 100%;
  z-index: -1;
}
.about .section-2 {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .section-2-left {
  width: 52%;
}
.about .section-2-left-h5 {
  color: #846E63;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.about .section-2-left-p {
  margin-top: 2rem;
  line-height: 24px;
}
.about .section-2-right {
  padding-top: 1.2rem;
  width: 38%;
}
.about .section-2-right-h4 {
  font-weight: 700;
  margin-bottom: 0.6rem;
}
.about .section-2-right-title {
  position: relative;
  margin-bottom: 2.7rem;
  width: fit-content;
}
.about .section-2-right-title-dot-top {
  position: absolute;
  left: -30px;
  width: 37px;
}
.about .section-2-right-title-dot-top-img {
  width: 100%;
}
.about .section-2-right-title-dot-bottom {
  position: absolute;
  bottom: -17px;
  left: calc(100% + 12px);
  width: 37px;
}
.about .section-2-right-title-dot-bottom-img {
  width: 100%;
}
.about .section-2-right-title-h2 {
  color: #707070;
  font-weight: 700;
  line-height: 49px;
  width: fit-content;
}
.about .section-2-right-btn {
  margin-left: -8px;
  display: flex;
  width: fit-content;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
  border-radius: 9px;
}
.about .section-2-right-btn-left {
  box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 180px;
  height: 90px;
  background: linear-gradient(to bottom, #DCC9A7, #CEB27F);
}
.about .section-2-right-btn-left-h2 {
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}
.about .section-2-right-btn-left-h4 {
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
}
.about .section-2-right-btn-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 180px;
  height: 90px;
}
.about .section-2-right-btn-right-h2 {
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  color: #707070;
}
.about .section-2-right-btn-right-h4 {
  text-align: center;
  font-weight: 700;
}
.about .section-3 {
  padding-bottom: 2.6rem;
}
.about .section-3-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 3.4rem;
}
.about .section-3-main {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}
.about .section-3-main-left {
  width: calc(50% - 1.8rem);
}
.about .section-3-main-left-title {
  border-bottom: 1px solid #707070;
  padding-bottom: 12px;
  font-weight: 700;
  margin-bottom: 1.7rem;
}
.about .section-3-main-left-p {
  line-height: 22px;
}
.about .section-3-main-left-btn {
  margin: 1.6rem 0 2.6rem;
}
.about .section-3-main-left-list-item-head {
  width: fit-content;
  color: #846E63;
  min-width: 84px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.about .section-3-main-left-list-item-content {
  line-height: 20px;
  padding-bottom: 1.8rem;
}
.about .section-3-main-right {
  width: calc(50% - 1.8rem);
}
.about .section-3-main-right-title {
  border-bottom: 1px solid #707070;
  padding-bottom: 12px;
  font-weight: 700;
  margin-bottom: 1.7rem;
}
.about .section-3-main-right-p {
  line-height: 22px;
  margin-bottom: 5.3rem;
}
.about .section-3-main-right-pic {
  width: 67%;
}
.about .section-3-main-right-pic-img {
  width: 100%;
}
.about .section-4-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 2.2rem;
}
.about .section-4-main {
  position: relative;
  max-width: 880px;
  margin: auto;
}
.about .section-4-main-item {
  align-items: center;
  justify-content: center;
}
.about .section-4-main-item-img {
  width: 100%;
}
.about .section-4-main-item-txt {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.about .section-4-main-item-txt-p {
  height: fit-content;
}
.about .section-4-main::after {
  content: "";
  background-image: url("../img/about-section-4-item-bg.png");
  position: absolute;
  bottom: -13px;
  left: -26px;
  width: 143px;
  height: 83px;
  background-size: 100%;
  z-index: -1;
}
.about .section-4-subtitle {
  text-align: center;
  font-weight: 700;
  color: #A9A9A9;
  padding: 6rem 0 5rem;
}

@media (max-width: 1200px) {
  .about-header {
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
    background-color: #FFFFFF;
    position: relative;
  }
  .about .section-1 {
    margin-top: 0px;
  }
}
@media (max-width: 992px) {
  .about .section-1 {
    flex-direction: column-reverse;
  }
  .about .section-1-left {
    width: 100%;
  }
  .about .section-1-right {
    width: 100%;
    position: relative;
  }
  .about .section-1-right::after {
    content: "";
    background: linear-gradient(to bottom, rgb(164, 167, 172), rgb(167, 169, 174), rgb(168, 171, 178), rgb(166, 169, 176));
    position: absolute;
    left: 99%;
    top: 0;
    width: 50vw;
    height: calc(100% - 1.5px);
  }
  .about .section-1-container {
    overflow: hidden;
  }
  .about .section-1-container::after {
    display: none;
  }
  .about .section-2-left {
    width: 46%;
  }
  .about .section-2-right {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .about .section-2 {
    flex-direction: column;
  }
  .about .section-2-left {
    width: 100%;
  }
  .about .section-2-right {
    margin: 2rem 0;
    width: fit-content;
  }
  .about .section-3-main {
    flex-direction: column;
  }
  .about .section-3-main-left {
    width: 100%;
  }
  .about .section-3-main-right {
    width: 100%;
  }
  .about .section-3-main-right-pic {
    margin: auto;
  }
}
@media (max-width: 576px) {
  .about {
    overflow: hidden;
  }
  .about .section-1-left {
    padding-left: 12px;
  }
  .about .section-1-left-h2 {
    left: 23px;
    font-size: 32px;
  }
  .about .section-2-right-title {
    left: 12px;
  }
  .about .section-2-right-title-h2 {
    font-size: 32px;
  }
  .about .section-2-right-btn-left {
    width: 160px;
  }
  .about .section-2-right-btn-right {
    width: 160px;
  }
  .about .section-4-main::after {
    bottom: -43px;
    left: -4px;
    width: 206px;
    height: 126px;
  }
}
@font-face {
  font-family: "ChenYuluoyan-Thin";
  font-style: cursive;
  font-weight: 400;
  font-display: swap;
  src: url("../font/ChenYuluoyan-Thin.ttf") format("woff2");
}
body {
  font-family: "Noto Serif TC", serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 60px;
  color: #707070;
  font-weight: 700;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  color: #707070;
}

h4 {
  font-size: 18px;
  color: #707070;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 12px;
  color: #707070;
  font-weight: 700;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #201512;
}
a:hover {
  color: #201512;
}

@media (min-width: 1440px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  a {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 62px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  a {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
