.about{
    &-header{
        position: relative;
        z-index: 10;
    }
    .section-1{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.6rem;
        margin-top: -82px;
        &-left{
            width: 52%;
            padding-top: 8rem;
            &-h4{
                font-weight: 700;
                margin-bottom: 0.8rem;
            }
            &-h2{
                position: relative;
                width: fit-content;
                color: $white;
                font-weight: 800;
                margin-bottom: 2.4rem;
                &-dot{
                    &-top{
                        position: absolute;
                        left: -36px;
                        width: 37px;
                        &-img{
                            width: 100%;
                        }
                    }
                    &-bottom{
                        position: absolute;
                        width: 37px;
                        bottom: -33px;
                        right: -45px;
                        &-img{
                            width: 100%;
                        }
                    }
                }
            }
            &-container{
                display: flex;
                align-items: center;
                gap: 1.8rem;
                &-btn{
                    &-a{
                        font-size: $small;
                        font-weight: 800;
                    }
                }
                &-phone{
                    padding-top: 5.7px;
                    display: flex;
                    align-items: center;
                    &-icon{
                        width: 24px;
                        height: 24px;
                        &-img{
                            width: 100%;
                        }
                    }
                }
            }
            &-links{
                display: flex;
                align-items: center;
                margin-top: 2.6rem;
                &-span{
                    color: $white;
                    font-size: $small;
                    font-weight: 600;
                    margin-right: 16px;
                }
                &-a{
                    margin: 0 5px;
                    width: 36px;
                    &-img{
                        width: 100%;
                    }
                }
            }
        }
        &-right{
            width: 42%;
            &-bg{
                width: 100%;
                &-img{
                    width: 100%;
                }
            }
        }
        &-container{
            width: 100%;
            position: relative;
            &::after{
                position: absolute;
                top: 0;
                right: 0;
                content: '';
                background: linear-gradient(to bottom,rgb(164,167,172),rgb(167,169,174),rgb(168,171,178),rgb(166,169,176));
                width: 30%;
                height: 100%;
                z-index: -1;
            }
        }
    }
    .section-2{
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left{
            width: 52%;
            &-h5{
                color: $main-color;
                font-weight: 700;
                margin-bottom: 0.8rem;
            }
            &-p{
                margin-top: 2rem;
                line-height: 24px;
                letter-spacing: 0.8px;
            }
        }
        &-right{
            padding-top: 1.2rem;
            width: 38%;
            &-h4{
                font-weight: 600;
                margin-bottom: 0.6rem;
            }
            &-title{
                position: relative;
                margin-bottom: 2.7rem;
                width: fit-content;
                &-dot{
                    &-top{
                        position: absolute;
                        left: -30px;
                        width: 37px;
                        &-img{
                            width: 100%;
                        }
                    }
                    &-bottom{
                        position: absolute;
                        bottom: -17px;
                        left: calc(100% + 12px);
                        width: 37px;
                        &-img{
                            width: 100%;
                        }
                    }
                }
                &-h2{
                    color: $white;
                    font-weight: 600;
                    letter-spacing: 0.7px;
                    line-height: 49px;
                    width: fit-content;
                }
            }
            &-btn{
                margin-left: -8px;
                display: flex;
                width: fit-content;
                box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
                border-radius: 9px;
                &-left{
                    box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.2);
                    border-top-left-radius: 9px;
                    border-bottom-left-radius: 9px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 180px;
                    height: 90px;
                    background: linear-gradient(to bottom,$second-color,$second-color-gradient);
                    &-h2{
                        font-family: sans-serif;
                        font-weight: 900;
                        text-align: center;
                        color: $pure-white;
                    }
                    &-h4{
                        text-align: center;
                        color: $pure-white;
                        font-weight: 700;
                    }
                }
                &-right{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 180px;
                    height: 90px;
                    &-h2{
                        font-family: sans-serif;
                        font-weight: 900;
                        text-align: center;
                        color: $white;
                    }
                    &-h4{
                        text-align: center;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .section-3{
        padding-bottom: 2.6rem;
        &-title{
            font-weight: 700;
            text-align: center;
            margin-bottom: 3.4rem;
        }
        &-main{
            display: flex;
            justify-content: space-between;
            max-width: 1100px;
            margin: auto;
            $gap : 1.8rem;
            &-left{
                width: calc(50% - $gap);
                &-title{
                    border-bottom: 1px solid $white;
                    padding-bottom: 12px;
                    font-weight: 600;
                    margin-bottom: 1.7rem;
                }
                &-p{
                    line-height: 22px;
                    letter-spacing: 0.3px;
                }
                &-btn{
                    margin: 1.6rem 0 2.6rem;
                }
                &-list{
                    &-item{
                        &-head{
                            width: fit-content;
                            color: $main-color;
                            min-width: 84px;
                            padding: 6px 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 5px;
                        }
                        &-content{
                            line-height: 20px;
                            padding-bottom: 1.8rem;
                        }
                    }
                }
            }
            &-right{
                width: calc(50% - $gap);
                &-title{
                    border-bottom: 1px solid $white;
                    padding-bottom: 12px;
                    font-weight: 600;
                    margin-bottom: 1.7rem;
                }
                &-p{
                    line-height: 22px;
                    letter-spacing: 0.3px;
                    margin-bottom: 5.3rem;
                }
                &-pic{
                    width: 67%;
                    &-img{
                        width: 100%;
                    }
                }
            }
        }


    }
    .section-4{
        &-title{
            text-align: center;
            font-weight: 600;
            margin-bottom: 2.2rem;
        }
        &-main{
            position: relative;
            max-width: 880px;
            margin: auto;
            &-item{
                align-items: center;
                justify-content: center;
                &-img{
                    width: 100%;
                }
                &-txt{
                    display: flex;
                    align-items: center;
                    height: 100%;
                    justify-content: center;
                    &-p{
                        height: fit-content;
                    }
                }
            }
            &::after{
                content: '';
                background-image: url('../img/about-section-4-item-bg.png');
                position: absolute;
                bottom: -13px;
                left: -26px;
                width: 143px;
                height: 83px;
                background-size: 100%;
                z-index: -1;
            }
        }
        &-subtitle{
            text-align: center;
            font-weight: 600;
            color: $font-grey;
            padding: 6rem 0 5rem;
        }
    }
}

@media(max-width:1200px){
    .about{
        &-header{
            box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
            background-color: #FFFFFF;
            position: relative;
        }
        .section-1{
            margin-top: 0px;
        }
    }
}

@media(max-width:992px){
    .about{
        .section-1{
            flex-direction: column-reverse;
            &-left{
                width: 100%;
            }
            &-right{
                width: 100%;
                position: relative;
                &::after{
                    content: '';
                    background: linear-gradient(to bottom,rgb(164,167,172),rgb(167,169,174),rgb(168,171,178),rgb(166,169,176));
                    position: absolute;
                    left: 99%;
                    top: 0;
                    width: 50vw;
                    height: calc(100% - 1.5px);
                }
            }
            &-container{
                overflow: hidden;
                &::after{
                    display: none;
                }
            }
        }
        .section-2{
            &-left{
                width: 46%;
            }
            &-right{
                width: 48%;
            }
        }
    }
}

@media(max-width:768px){
    .about{
        .section-2{
            flex-direction: column;
            &-left{
                width: 100%;
            }
            &-right{
                margin: 2rem 0;
                width: fit-content;
            }
        }
        .section-3{
            &-main{
                flex-direction: column;
                &-left{
                    width: 100%;
                }
                &-right{
                    width: 100%;
                    &-pic{
                        margin: auto;
                    }
                }
            }
        }
    }
}

@media(max-width:576px){
    .about{
        overflow: hidden;
        .section-1{
            &-left{
                padding-left: 12px;
                &-h2{
                    left: 23px;
                    font-size: $ls-mid;
                }
            }
        }
        .section-2{
            &-right{
                &-title{
                    left: 12px;
                    &-h2{
                        font-size: $ls-mid;
                    }
                }
                &-btn{
                    &-left{
                        width: 160px;
                    }
                    &-right{
                        width: 160px;
                    }
                }
            }
        }
        .section-4{
            &-main{
                &::after{
                    bottom: -43px;
                    left: -4px;
                    width: 206px;
                    height: 126px;
                }
            }
        }
    }
}