$pure-white: #FFFFFF;

$main-color: #846E63;
$main-color-gradient: #A58F84;
$main-color-bg-gradient: #B1A49E;
$main-color-a: #67554D;

$second-color: #DCC9A7;
$second-color-gradient: #CEB27F;

$black: #1C1C1C;
$grey: #F2EEED;
$white: #707070;
$font-black: #201512;

$filter-bg: #FAF9F7;