.header{
    width: 100%;
    padding: 2rem 0;
    &-container{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        &-left{
            display: flex;
            .header-a{
                margin: 0 1rem;
                &:nth-child(1),&:nth-child(2){
                    margin: 0 2.5rem;
                }
            }
        }

        &-right{
            .main-btn{
                font-size: $small;
            }
        }
    }
}