.homepage{
    .section-1-2-bg{
        background: radial-gradient(circle at 50% 6%, $pure-white, $main-color-gradient-radial 70%);
        position: relative;
        .section-2-bg{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 30%;
            max-width: 300px;
            &-img{
                width: 100%;
                transform: translateY(30%);
            }
        }
    }
    &-header{
        margin-bottom: -88px;
        position: relative;
        z-index: 10;
    }
    .section-1{
        padding-top: calc(2rem + 82px);
        display: flex;
        &-left{
            padding-top: 3.6rem;
            width: 43%;
            &-list{
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 1rem 0;
            }
            &-p{
                margin-bottom: 2.4rem;
                line-height: 18px;
            }
        }
        &-right{
            width: 57%;
            position: relative;
            &-pic{
                width: 100%;
                &-img{
                    width: 100%;
                }
            }
            &-txt{
                position: absolute;
                display: flex;
                align-items: end;
                gap: 9px;
                top: 5%;
                right: 10%;
                &-h1{
                    font-weight: $medium;
                    font-family: "ChenYuluoyan-Thin", sans-serif;
                }
                &-p{
                    padding-bottom: 1.3rem;
                }
            }
        }
    }

    .section-2{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-bottom: 4rem;
        &-left{
            width: 43%;
            margin-top: -1rem;
            padding-right: 2rem;
            max-width: 390px;
            .podcast{
                &-pic{
                    width: 100%;
                    margin-bottom: 1.6rem;
                    &-img{
                        width: 100%;
                    }
                }
                &-title{
                    &-container{
                        position: relative;
                        &::after{
                            content: '...';
                            position: absolute;
                            color: $white;
                            right: 16.5px;
                            top: -3px;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                    width: calc(100% - 2.5rem);
                    margin-bottom: 1.8rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: flex;
                    &-h4{
                        font-weight: $bold;
                        animation: marquee 20s linear infinite;
                        padding-right: 1.4rem;
                    }
                    &-h4-2{
                        font-weight: $bold;
                        animation: marquee2 20s linear infinite;
                        padding-right: 1.4rem;
                    }
                }
                &-btn-container{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    margin-bottom: 0.9rem;
                }
                &-progress-bar{
                    display: flex;
                    align-items: center;
                    &-line{
                        position: relative;
                        width: 100%;
                        height: 3.35px;
                        background-color: $grey;
                        border-radius: 4px;
                        &::before{
                            border-radius: 4px;
                            position: absolute;
                            content: '';
                            width: 30%;
                            height: 100%;
                            background: linear-gradient(to bottom,$main-color-gradient,$main-color);
                        }
                        &::after{
                            border-radius: 50%;
                            position: absolute;
                            content: '';
                            width: 14px;
                            height: 14px;
                            background: linear-gradient(to bottom,$main-color-gradient,$main-color);
                            top: 0;
                            bottom: 0;
                            left: calc(30% - 7px);
                            margin: auto;
                        }
                    }
                    &-p{
                        padding-left: 8px;
                        position: relative;
                        top: -1.6px;
                        opacity: 0.7;
                    }
                }
                &-subtitle{
                    margin-top: 1.8rem;
                    &-p{
                        opacity: 0.6;
                    }
                }
            }
        }
        &-right{
            padding-top: 2rem;
            width: 57%;
            &-h3{
                font-weight: $bold;
                margin-bottom: 2rem;
            }
            &-main{
                margin-bottom: 0.6rem;
                &-item{
                    display: flex;
                    border-bottom: 1px dotted $main-color;
                    padding: 15px 0;
                    max-width: 550px;
                    &-pic{
                        width: 8.8px;
                        &-img{
                            width: 100%;
                        }
                    }
                    &-h5{
                        width: calc(100% - 8.8px);
                        padding-left: 12px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: $white;
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                }
            }
            &-link{
                display: flex;
                align-items: center;
                gap: 1.8rem;
                &-a{
                    &.main-link-btn{
                        &::after{
                            content: url('../img/share-icon.svg');
                            bottom: 0px;
                            right: 10px;
                        }
                    }
                    &.main-btn{
                        font-size: $small;
                        padding: 11.5px 20px;
                    }
                }
            }
        }
    }

    .section-3{
        position: relative;
        width: 100%;
        padding-bottom: 6rem;
        &-title{
            padding-top: 3rem;
            margin-bottom: 6rem;
            font-weight: $bold
        }
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom,$main-color,$main-color-bg-gradient);
            opacity: 0.06;
        }
        &-content{
            max-width: 850px;
            margin: auto;
            &-item{
                margin-bottom: 2.8rem;
                .item{
                    border: 1px solid $main-color;
                    outline: 1px solid $main-color;
                    border-radius: 2px;
                    position: relative;
                    padding-top: 100%;
                    &-content{
                        &-p{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width: 100%;
                            height: 100%;
                            padding: 10px;
                            line-height: 18px;
                            opacity: 0;
                            transition: all 0.05s;
                            text-align: center;
                            color: $main-color;
                            font-weight: $medium;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-bottom: 12px;
                            font-family: 'Noto Sans TC', sans-serif;
                        }
                        &-pic{
                            position: absolute;
                            width: 50%;
                            height: fit-content;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            margin: auto;
                            opacity: 1;
                            transition: all 0.05s;
                            &-small{
                                width: 34%;
                            }
                            &-img{
                                width: 100%;
                            }
                        }
                    }
                    &-title{
                        position: absolute;
                        border-radius: 2px;
                        width: 87%;
                        padding: 8px 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        bottom: -1.2rem;
                        &-h4{
                            color: $pure-white;
                            font-size: $ss-mid;
                            text-align: center;
                            &-small{
                                font-size: $small;
                                padding: 3px 0;
                            }
                        }
                    }
                    &:hover{
                        .item-content{
                            &-p{
                                opacity: 1;
                                transition: all 0.05s;
                            }
                            &-pic{
                                opacity: 0;
                                transition: all 0.05s;

                            }
                        }
                    }
                }
            }
        }
    }

    .section-4{
        &-title{
            padding-top: 6rem;
            margin-bottom: 3.8rem;
            font-weight: $bold;
        }
        &-content{
            max-width: 1000px;
            &-item{
                margin: 3.6rem 0;
                .item{
                    display: flex;
                    align-items: center;
                    &-left{
                        width: 40%;
                        padding-right: 3rem;
                        .video{
                            width: 100%;
                            padding-top: 56%;
                            background-color: $grey;
                        }
                    }
                    &-right{
                        margin-top: -1rem;
                        width: 60%;
                        &-title{
                            display: flex;
                            align-items: end;
                            font-weight:$bold;
                            &-num{
                                color: $white;
                                font-family: 'Impact', sans-serif;
                                margin-right: 6px;
                                &-brown{
                                    color: $second-color;
                                }
                            }
                            &-subtitle{
                                margin-right: 15px;
                                margin-bottom: 10px;
                            }
                            &-time{
                                opacity: 0.6;
                                margin-bottom: 10px;
                            }
                        }
                        &-h3{
                            margin: 6px 0 10px;
                        }
                        &-p{
                            line-height: 18px;
                            margin-bottom: 3px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                        }
                        &-a{
                            font-size: $small;
                            color: $main-color-a;
                        }
                    }
                }
            }
        }
    }

    .section-5{
        padding-bottom: 3rem;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: linear-gradient(to bottom,$main-color,$main-color-bg-gradient);
            width: 100%;
            height: 100%;
            opacity: 0.6;
            z-index: -1;
        }
        &-title{
            color: $pure-white;
            font-weight: $bold;
            padding: 1.4rem 0 3.4rem;
        }
        &-owl-carousel{
            padding-bottom: 3rem;
            .homepage-owl-carousel{
                width: 100%;
                padding: 0 3rem;
                max-width: 1120px;
                margin: auto;
                .item{
                    padding: 0.5rem;
                }
                &-item{
                    border-radius: 12px;
                    padding: 0.8em 1.7rem;
                    background-color: $pure-white;
                    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
                    &-head{
                        display: flex;
                        gap: 0.8rem;
                        align-items: center;
                        margin-bottom: 0.8rem;
                        &-pic{
                            width: 100%;
                            max-width: 48px;
                            &-img{
                                width: 100%;
                            }
                        }
                        &-txt{
                            &-h4{
                                color: $font-black;
                                margin-bottom: 2px;
                            }
                        }
                    }
                    &-p{
                        line-height: 18px;
                    }
                }
            }
        }
    }
}
@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

@media(min-width:1440px){
    .homepage{
        .section-2{
            .main-btn{
                padding: 18.5px 28px;
            }
        }
        .section-3{
            &-content{
                max-width: 1000px;
            }
        }
        .section-4{
            &-content{
                max-width: 1200px;
            }
        }
        .section-5{
            &-owl-carousel{
                .homepage-owl-carousel{
                    max-width: 1300px;
                }
            }
        }
    }
}

@media(max-width: 1200px){
    .homepage{
        .section-1{
            &-left{
                padding-top: 2.4rem;
                margin-bottom: 5rem;
            }
        }
        .section-2{
            &-bg{
                max-width: 260px !important;
            }
        }
        .owl-theme{
            .owl-nav{
                .owl-prev{
                    left: 0.4rem;
                }
                .owl-next{
                    right: 0.4rem;
                }
            }
        }
    }
}

@media(max-width: 992px){
    .homepage{
        .section-1-2-bg{
            overflow: hidden;
        }
        .section-1{
            margin-bottom: 0.6rem;
            &-left{
                width: 60%;
                &-h1{
                    font-size: $l-mid;
                }
                &-p{
                    display: none;
                }
                &-list{
                    flex-direction: column;
                    align-items: start;
                    gap: 4px;
                    &-p{
                        display: none;
                    }
                    .main-list{
                        display: flex;
                    }
                }
            }
            &-right{
                width: 90%;
                position: absolute;
                left: 42%;
                top: 152px;
                max-width: 400px;
                &-txt{
                    left: 37%;
                    right: unset;
                    gap: 2px;
                    &-h1{
                        font-size: $mid;
                        margin-left: -4px;
                    }
                    &-p{
                        padding-bottom: 7px;
                        font-size: $s-small;
                    }
                }
            }
        }
        .section-2{
            &-bg{
                display: none;
            }
        }
        .section-4{
            &-content{
                &-item{
                    .item{
                        gap: 1.2rem;
                        &-left{
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){
    .homepage{
        .section-2{
            flex-direction: column;
            padding-bottom: 12rem;
            &-left{
                padding-right: 0;
                width: 100%;
                margin: auto;
                .podcast{
                    &-pic{
                        width: 60%;
                        margin: auto;
                    }
                }
            }
            &-right{
                width: 100%;
                &-link{
                    gap: 0.8rem;
                    .main-link-btn{
                        padding: 5px 26px 5px 6px;
                    }
                    .main-btn{
                        padding: 11.5px 18px;
                    }
                }
            }
        }
        .section-4{
            &-content{
                &-item{
                    padding-top: 3.4rem;
                    position: relative;
                    .item{
                        flex-direction: column;
                        &-left{
                            width: 100%;
                        }
                        &-right{
                            width: 100%;
                            &-title{
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 600px){
    .homepage{
        .section-1{
            &-right{
                &-txt{
                    left: 43%;
                    &-h1{
                        font-size: $l-mid;
                    }
                }
            }
        }
    }
}