.main{
    &-btn{
        background: linear-gradient(to bottom, $main-color-gradient, $main-color 50%);
        color: $pure-white;
        font-weight: 700;
        padding: 8px 20px;
        border-radius: 7px;
        &:hover{
            color: $pure-white;
        }
    }
    &-tag{
        color: $pure-white;
        background: linear-gradient(to right, $second-color, $second-color-gradient 50%);
        padding: 4px 10px;
        font-size: $s-small;
        border-radius: 3px;
    }
    &-list{
        position: relative;
        display: flex;
        align-items: center;
        gap: 3px;
        &::before{
            content: url(../img/main-check-btn.svg);
            width: 24px;
            height: 24px;
            background-size: 100%;
        }
    }
    &-link-btn{
        font-size: $small;
        color: $white;
        font-weight: 600;
        border: 1.4px solid $white;
        padding: 10px 26px 10px 12px;
        display: inline-block;
        position: relative;
        border-radius: 5px;
        &:hover{
            color: $white;
        }
        &::after{
            content: url('../img/arrow-right.svg');
            position: absolute;
            top: 0;
            bottom: 3.6px;
            right: 12px;
            height: fit-content;
            margin: auto;
        }
    }
}

.font{
    &-main-color{
        color: $main-color;
    }
}