@import './color.scss';
@import './initial.scss';
@import './variable.scss';
@import './object.scss';
@import './header.scss';
@import './footer.scss';
@import './homepage.scss';
@import './knowledge-article.scss';
@import './success-case.scss';
@import './service-process.scss';
@import './article-page.scss';
@import './about.scss';

@font-face {
    font-family: 'ChenYuluoyan-Thin';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url('../font/ChenYuluoyan-Thin.ttf') format('woff2');
}

body{
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 1px;
}

h1{
    font-size: $large;
    color: $white;
    font-weight: $bold;
}

h2{
    font-size: $l-mid;
}

h3{
    font-size: $mid;
    color: $white;
}

h4{
    font-size: $s-mid;
    color: $white;
}

h5{
    font-size: $ss-mid;
}

p{
    font-size: $small;
    color: $white;
    font-weight: $bold;
}

a{
    font-size: $s-mid;
    text-decoration: none;
    color: $font-black;
    &:hover{
        color: $font-black;
    }
}



@media(min-width:1440px){
    h1{
        font-size: calc($large + 4px);
    }
    
    h2{
        font-size: calc($l-mid + 4px);
    }
    
    h3{
        font-size: calc($mid + 4px);
    }
    
    h4{
        font-size: calc($s-mid + 4px);
    }
    
    h5{
        font-size: calc($ss-mid + 4px);
    }
    
    p{
        font-size: calc($small + 4px);
    }
    
    a{
        font-size: calc($s-mid + 4px);
    }
}

@media(max-width:768px){
    h1{
        font-size: calc($large + 2px);
    }
    
    h2{
        font-size: calc($l-mid + 2px);
    }
    
    h3{
        font-size: calc($mid + 2px);
    }
    
    h4{
        font-size: calc($s-mid + 2px);
    }
    
    h5{
        font-size: calc($ss-mid + 2px);
    }
    
    p{
        font-size: calc($small + 2px);
    }
    
    a{
        font-size: calc($s-mid + 2px);
    }
}