.success-case{
    &-main{
        padding-bottom: 4rem;
        &-title{
            padding-top: 6rem;
            margin-bottom: 2.6rem;
            font-weight: 700;
        }
        &-filter{
            width: 98%;
            margin: auto;
            margin-bottom: 6.6rem;
        }
        &-content{
            max-width: 1000px;
            &-item{
                margin: 3.6rem 0;
                .item{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    &-left{
                        width: calc(50% - 1rem);
                        &-carousel{
                            .owl-dots{
                                bottom: -1.2rem;
                            }
                        }
                        .video{
                            width: 100%;
                            padding-top: 56%;
                            background-color: $grey;
                        }
                    }
                    &-right{
                        margin-top: -1rem;
                        width: 50%;
                        &-title{
                            display: flex;
                            align-items: end;
                            font-weight:700;
                            &-num{
                                color: $white;
                                font-family: 'Impact', sans-serif;
                                letter-spacing: 2px;
                                margin-right: 6px;
                                &-brown{
                                    color: $second-color;
                                }
                            }
                            &-subtitle{
                                margin-right: 15px;
                                margin-bottom: 10px;
                            }
                        }
                        &-h3{
                            margin: 2.6px 0 12px;
                            font-size: $s-mid;
                            font-weight: 800;
                        }
                        &-p{
                            line-height: 18px;
                            margin-bottom: 3px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            width: 88.5%;
                        }
                        &-a{
                            font-size: $small;
                            color: $main-color-a;
                            display: block;
                            margin: 7px 0;
                            font-weight: 800;
                        }
                    }
                }

                &:nth-child(even){
                    .item{
                        flex-direction: row-reverse;

                    }
                }
            }
        }

        &-more{
            margin: auto;
            width: fit-content;
            &-a{
                font-size: $small;
                text-align: center;
            }
            .main-link-btn{
                padding: 10px 30px 10px 22px;
                &::after{
                    content: url('../img/arrow-down.svg');
                    top: 5px;
                    right: 19px;
                }
            }
        }
    }
}